# exclude data files
datasampling/driving_data
datasampling/__pycache__
datasampling/maskfilter.pyc
data/sample
data/last
data/mean
data/gaussian
src/__pycache__
src/util/__pycache__
src/logs
src/reports
paper/graph/__pycache__

